{% extends "FormerStudentsBundle::layout.html.twig" %}

{% block title %}
  Documentation - {{ parent() }}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      {% include 'FormerStudentsBundle:Bac:leftMenu.html.twig' %}
      <div class="col-sm-9">
        {% include 'FormerStudentsBundle:Bac:documentationChapitres.html.twig' %}
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/scripts.js') }}" type="text/javascript"></script>
{% endblock %}
